PORTAL_PORT=3000
GATEWAY_PORT=8000
RESIDENCE_PORT=8001
EMPLOYMENT_PORT=8002
HOUSING_PORT=8003
MATCHING_PORT=8004

RESIDENCE_SERVICE_URL=http://residence-service:8001
EMPLOYMENT_SERVICE_URL=http://employment-service:8002
HOUSING_SERVICE_URL=http://housing-service:8003
MATCHING_SERVICE_URL=http://service-matching-service:8004
DOWNSTREAM_TIMEOUT_SECONDS=5

